body {
  background: #be0000;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.app {
  width: 100%;
  margin: 30px auto;
  color: white;
  text-align: center;
}

h1,
h2 {
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}

#seconds,
#tens {
  font-size: 2em;
}

button {
  background: #1b1717;
  color: white;
  border: solid 1px white;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  outline: none;
}

button:hover {
  background: white;
  border: solid 1px white;
  color: #1b1717;
}
